<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Tix</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        &emsp;&emsp;<img src="https://www.freeiconspng.com/uploads/download-ticket-ticket-free-entertainment-icon-orange-ticket-design-0.png" width="75"/>
    </a>
    &ensp;&ensp;&ensp;
    <strong>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register/">Register</a>
                </li>
            </ul>
        </div>
    </strong>
</nav>

<div>
    {% if messages %}
        {% for message in messages %}
            <div class = "alert {{message.tags}} m-2" id = "msg" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
<br><br><br>
<body>
    <center>
    <form method="POST">
        {% csrf_token %}

        <!-- input field untuk username -->
        <div class="form-group w-25 ">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name = "username" placeholder="Enter Username" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <!-- input field untuk password -->
        <div class="form-group w-25">
            <label for="username">Password</label>
            <input type="password" class="form-control" id="password" name = "password" placeholder="Enter Password" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <!-- input field untuk nama -->
        <div class="form-group w-25">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name = "name" placeholder="Enter Name" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <!-- input field untuk umur -->
        <div class="form-group w-25">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" name = "age" placeholder="Enter Age" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <!-- button untuk register -->
        <button type="submit" class="btn btn-primary">Register</button>

    </form>
    </center>
</body>
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0){
                $('#msg').remove();
            }
        },2000)
    </script>
</html>